input[type="text"] {
    width: 40%;
    height: 1.5rem;
}

.btn{
    margin-top: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.btn1{
    margin-top: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.btn2{
    margin-top: 5px;
    background-color: blue;
    color: white;
    font-size: 16px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: bisque;
}
